#header
  height: banner-height
  position: relative
  background: #fff
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px
  &:before
    top: 0
  &:after
    bottom: 0

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  overflow: hidden
  width: 100%
  border-bottom: 1px solid color-border

#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 60%
  left: 0
  margin-top: logo-size * -0.25

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  letter-spacing: 2px
  color: #2b2e2d

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  float: left
  margin: 0 0px

$nav-link
  float: left
  opacity: 1
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0)
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 0.6

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: 1.15em
  width: 1.15em
  height: 1.15em
  padding: 20px 15px
  position: relative
  cursor: pointer
  color: black

.nav-active-first
  background: url("images/nav-home-bg.png") no-repeat center center
  color: #fff !important

.nav-active
  background: color-link
  color: #fff !important

.uk-navbar-nav>a:nth-child(2)
  &:hover
    background: url("images/nav-home-bg.png") no-repeat center center
    color: #fff

.uk-navbar-nav>a:not(:nth-child(2))
  &:hover
    background: color-link
    color: #fff

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  color:#000
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  a:hover
      color: color-link

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777

#header-inner .navbar-uk
  background:#fff
  border-top: 5px #ff510d solid

.uk-navbar
  background:#eee
  color:#444

.uk-navbar:after,.uk-navbar:before
  content:""
  display:table

.uk-navbar:after
  clear:both

.uk-navbar-nav
  margin:0
  padding:0
  list-style:none
  float:left
  
.uk-float-right
  float:right

.uk-text-center
  text-align:center!important

.uk-container
  box-sizing:border-box
  max-width:100%
  padding:0 35px

.uk-container-center
  margin-left:auto
  margin-right:auto

.uk-position-relative
  position:relative!important
  
@media (min-width:1220px)
  .uk-container
    max-width:1220px
    padding:0 0px

.uk-container:after,.uk-container:before
  content:""
  display:table

.uk-container:after
  clear:both

::selection
  background:#39f
  color:#fff
  text-shadow:none

a
  transition:color .3s ease-out
  background-color .3s ease-in
  cursor:pointer
  background:0 0

.uk-navbar-nav>a
  padding:20px 30px
  line-height: 20px
  font-size:1.15em 
  color:#444847
  font-family:"微软雅黑",Arial, Helvetica, sans-serif